RecepcionSinConfig.json
{
  "name": "Recepcion Bot",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.meet-lines.com/api/telegram/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "=X-Project-Id",
              "value": "={{ $('Extract Message Data1').item.json.projectId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"toChatId\": \"{{ $('Extract Message Data1').item.json.tonumber }}\",\n  \"messageText\": \"{{ $('Parse AI Response1').item.json.cleanResponse }}\"\n}",
        "options": {}
      },
      "id": "48a9981a-775a-4298-b6aa-a96e6ee1b1fe",
      "name": "Send Telegram Message Bot recepcion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -960,
        -32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.meet-lines.com/api/telegram/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "=X-Project-Id",
              "value": "={{ $('Extract Message Data1').item.json.projectId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"toChatId\": \"{{$('Extract Message Data1').first().json.tonumber}}\",\n  \"messageText\": \"{{ $('get bot config1').item.json.receptionConfig.handoffMessage }}\"\n}",
        "options": {}
      },
      "id": "ba8fe084-62d5-4e08-98f4-0614cf419832",
      "name": "Send Telegram Message route bot Transaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -976,
        -208
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-test/Telegram",
        "options": {}
      },
      "id": "727f088d-649e-4339-aa42-c8d86e66f024",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -4064,
        16
      ],
      "webhookId": "meetlines-telegram-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ed0c4e8-4f03-40dc-81d6-277ae6c20c27",
              "name": "projectId",
              "value": "={{ $('Webhook1').item.json.headers['x-project-id'] }}",
              "type": "string"
            },
            {
              "id": "e3a2bfba-9612-4490-bb3c-616c09dc3050",
              "name": "botToken",
              "value": "={{ $('Webhook1').item.json.headers['x-telegram-bot-token'] }}",
              "type": "string"
            },
            {
              "id": "9983be08-29f6-4d8c-90e3-f34526691b5d",
              "name": "mensaje",
              "value": "={{ $('Webhook1').item.json.body.message.text }}",
              "type": "string"
            },
            {
              "id": "936d593a-8231-4528-8905-73dc58a25840",
              "name": "tonumber",
              "value": "={{ $('Webhook1').item.json.body.message.chat.id.toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5ee667e8-9800-4de4-82e9-88d500d4a96c",
      "name": "Extract Message Data1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -3440,
        64
      ]
    },
    {
      "parameters": {
        "url": "=https://services.meet-lines.com/api/Projects/{{ $json.projectId }}/public",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2624,
        -112
      ],
      "id": "3c787256-ff66-4471-bd4d-4662ed4b9f55",
      "name": "Get project1",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "7xzvYiTLUbiNIgOp",
          "name": "Multiple Headers Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.meet-lines.com/api/projects/{{ $('Extract Message Data1').item.json.projectId }}/knowledge-base/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"projectId\": \"{{ $('Extract Message Data1').item.json.projectId }}\",\n  \"query\": \"{{ $('Extract Message Data1').item.json.mensaje }}\",\n  \"activeOnly\": true,\n  \"limit\": 3\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2336,
        -112
      ],
      "id": "9b927ffd-b66d-4c66-96e3-c2c6b255f57f",
      "name": "get respuestas1",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "7xzvYiTLUbiNIgOp",
          "name": "Multiple Headers Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://services.meet-lines.com/api/projects/{{ $json.id }}/bot-config",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2480,
        -112
      ],
      "id": "789144fa-190c-427d-baf8-36087aa7b05b",
      "name": "get bot config1",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "7xzvYiTLUbiNIgOp",
          "name": "Multiple Headers Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Extract Message Data1').item.json.mensaje }}",
        "options": {
          "systemMessage": "=Eres {{ $('get bot config1').item.json.botName || 'el asistente virtual' }} de {{ $('Get project1').item.json.name }}.\n\nCONTEXTO:\n- Mensaje de bienvenida: {{ $('get bot config1').item.json.receptionConfig.welcomeMessage }}\n- Industria: {{ $('get bot config1').item.json.industry }}\n- Tono: {{ $('get bot config1').item.json.tone }}\n- Tu rol: Asistente de atención al cliente\n\nINFORMACIÓN DE LA BASE DE CONOCIMIENTO:\n{{ $('get respuestas1').item.json.answer || 'No se encontró información específica en la base de conocimiento.' }}\n\nMENSAJE DEL CLIENTE:\n{{ $('Extract Message Data1').item.json.mensaje }}\n\nINSTRUCCIONES DE RESPUESTA:\n\n1. SI LA BASE DE CONOCIMIENTO TIENE INFORMACIÓN (arriba):\n   - Usa ESA información para responder\n   - Sé preciso y específico\n   - No inventes ni agregues información extra\n\n2. SI LA BASE DE CONOCIMIENTO ESTÁ VACÍA:\n   - Responde con información general sobre {{ $('get bot config1').item.json.industry }}\n   - Ofrece contactar directamente para detalles específicos\n   - Ejemplo: \"Para información específica sobre [tema], te recomiendo contactarnos directamente. ¿Hay algo más en lo que pueda ayudarte? 😊\"\n\n3. TEMAS PERMITIDOS:\n   ✅ Servicios de {{ $('Get project1').item.json.name }}\n   ✅ Precios y promociones\n   ✅ Horarios de atención\n   ✅ Ubicación y contacto\n\n4. TEMAS PROHIBIDOS:\n   ❌ Temas generales (clima, noticias, política)\n   ❌ Otros negocios\n   ❌ Temas fuera de {{ $('get bot config1').item.json.industry }}\n   \n   Si preguntan algo prohibido: \"Lo siento, solo puedo ayudarte con información sobre {{ $('Get project1').item.json.name }}. ¿Tienes alguna pregunta sobre nuestros servicios? 😊\"\n\n5. ESTILO:\n   - Máximo 2-3 líneas\n   - Tono: {{ $('get bot config1').item.json.tone }}\n   - Usa emojis ocasionalmente\n   - Sé natural y conversacional\n   - NO menciones palabras como \"agendar\", \"reservar\", \"cita\"\n\nResponde ahora:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -2192,
        -112
      ],
      "id": "96e412e0-3a2a-429f-a3ba-9c40d6337cce",
      "name": "Agente recepcion1"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el output (adaptado para n8n v1)\nconst aiOutput = $input.first().json.output || '';\n\n// Validar que aiOutput existe y es string\nif (!aiOutput || typeof aiOutput !== 'string') {\n  return [{\n    json: {\n      cleanResponse: '',\n      intent: null,\n      sentiment: null,\n      intentConfidence: null,\n      error: 'No AI output found'\n    }\n  }];\n}\n\n// Extraer la respuesta limpia\nconst lines = aiOutput.split('\\n');\nlet cleanResponse = '';\nlet intent = null;\nlet sentiment = null;\n\nfor (const line of lines) {\n  if (line.startsWith('INTENT:')) {\n    intent = line.replace('INTENT:', '').trim();\n  } else if (line.startsWith('SENTIMENT:')) {\n    sentiment = parseFloat(line.replace('SENTIMENT:', '').trim());\n  } else if (line.trim()) {\n    cleanResponse += line + '\\n';\n  }\n}\n\nreturn [{\n  json: {\n    cleanResponse: cleanResponse.trim(),\n    intent: intent,\n    sentiment: sentiment,\n    intentConfidence: intent ? 0.85 : null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        -112
      ],
      "id": "0ac67af5-a0f9-4316-b9a7-ac6d67acd01f",
      "name": "Parse AI Response1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.meet-lines.com/api/projects/{{ $('Extract Message Data1').item.json.projectId }}/conversations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"projectId\": \"{{ $('Get project1').first().json.id }}\",\n  \"customerPhone\": \"{{ $('Extract Message Data1').first().json.tonumber }}\",\n  \"customerName\": \"Unknown\",\n  \"customerMessage\": \"{{ $('Extract Message Data1').first().json.mensaje }}\",\n  \"botResponse\": \"{{ $json.cleanResponse }}\",\n  \"botType\": \"transactional\",\n  \"intent\": \"{{ $json.intent }}\",\n  \"metadataJson\": \"{\\\"step\\\":\\\"ask_service\\\",\\\"selectedService\\\":null,\\\"selectedServiceId\\\":null,\\\"selectedDate\\\":null,\\\"selectedTime\\\":null,\\\"selectedEmployeeId\\\":null,\\\"selectedEmployeeName\\\":null}\",\n  \"lastMessage\": \"{{ $('Extract Message Data1').first().json.mensaje }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1728,
        -112
      ],
      "id": "a31a912c-4fd1-4cdd-87ff-af16671ea18c",
      "name": "guardar conversacion1",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "7xzvYiTLUbiNIgOp",
          "name": "Multiple Headers Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener respuesta de OpenAI del input actual\nconst aiResponse = ($input.first().json.output || '').toLowerCase();\n\n// Obtener mensaje del usuario del nodo Extract Message Data\nlet userMessage = '';\n\ntry {\n  userMessage = ($('Extract Message Data1').first().json.mensaje || '').toLowerCase();\n} catch (e) {\n  userMessage = '';\n}\n\n// Keywords de agendamiento - SOLO en mensaje del USUARIO\nconst bookingKeywords = [\n  'quiero agendar',\n  'necesito agendar',\n  'quiero reservar',\n  'necesito reservar',\n  'quiero una cita',\n  'necesito una cita',\n  'agendar cita',\n  'reservar cita',\n  'sacar cita',\n  'pedir cita',\n  'hacer cita'\n];\n\n// SOLO detectar si el USUARIO menciona agendamiento explícitamente\nconst userHasIntent = bookingKeywords.some(k => userMessage.includes(k));\n\n// NO detectar en respuesta de AI (eso causa falsos positivos)\nconst hasBookingIntent = userHasIntent;\n\nreturn {\n  json: {\n    intent: hasBookingIntent ? 'BOOKING' : 'GENERAL',\n    aiResponse: $input.first().json.output,\n    userMessage: userMessage,\n    detectedIn: userHasIntent ? 'user_message' : 'none'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        -112
      ],
      "id": "bed39fca-d690-49ab-9f87-d497a18ab849",
      "name": "Detect Booking Intent1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "BOOKING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0a610296-5de5-499b-af69-457b99f54280"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d52d149a-5268-49e5-b9a4-ff9a3d84688d",
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "GENERAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1376,
        -112
      ],
      "id": "7785853c-7796-4e8d-9ae4-2cd61855e4c0",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rojascrew.app.n8n.cloud/webhook/webhook/transactional-bot",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{$('Extract Message Data1').first().json.tonumber}}\",\n  \"message\": \"{{$('Extract Message Data1').first().json.mensaje}}\",\n  \"projectId\": \"{{$('Extract Message Data1').first().json.projectId}}\",\n  \"phoneNumberId\": \"{{$('Extract Message Data1').first().json.projectId}}\",\n  \"conversationId\": \"{{$json.conversationId || $('guardar conversacion1').first().json.id}}\",\n  \"triggeredBy\": \"reception_bot\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -800,
        -320
      ],
      "id": "ed961dec-96e2-403e-b19e-ca88cc9f5fca",
      "name": "Trigger Bot "
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Message Data1').item.json.tonumber }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2080,
        208
      ],
      "id": "962df418-9bc0-48db-947d-be88ec57f16b",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "jsCode": "// Paso 1: Obtener los datos de entrada\nconst response = $input.first().json; \nconst conversations = response.body || []; // Si body está vacío, usamos un array vacío.\n\n// Manejamos la lectura de 'Extract Message Data' con un try-catch para evitar el error de \"Referenced node doesn't exist\"\nlet webhookData = {};\ntry {\n  // ⚠️ ATENCIÓN: Asegúrate que el nodo se llame EXACTAMENTE 'Extract Message Data'\n  webhookData = $('Extract Message Data1').first().json;\n} catch (e) {\n  // Si falla la extracción, webhookData se queda como un objeto vacío {}\n}\n\n\n// Paso 2: Inicialización de variables de estado\nconst now = new Date();\n// Calcula la marca de tiempo de hace 24 horas\nconst oneDayAgo = new Date(now.getTime() - 24 * 60 * 60 * 1000); \n\nlet hasActiveConversation = false;\nlet conversationId = null;\n\n// Paso 3: Filtrar y Buscar Conversación Activa (de Agendamiento)\nif (Array.isArray(conversations) && conversations.length > 0) {\n\n  const transactionalConvs = conversations\n    .filter(c => \n      // 1. Tipo de bot\n      c.botType === 'transactional' &&\n      // 2. Intención ES 'agendar_cita' (Esta es la que queremos verificar)\n      c.intent === 'agendar_cita' && // <<--- ¡CORRECCIÓN CLAVE!\n      // 3. Conversación reciente (últimas 24h)\n      new Date(c.createdAt) > oneDayAgo\n    )\n    .sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt)); // Ordena por más reciente primero\n\n  if (transactionalConvs.length > 0) {\n    const latest = transactionalConvs[0];\n\n    let isDone = false;\n    if (latest.metadataJson) {\n      try {\n        const metadata = JSON.parse(latest.metadataJson);\n        // Verifica si el flujo de la conversación ha llegado al paso 'done'\n        isDone = metadata.step === 'done'; \n      } catch (e) {\n        // Ignora el error de parseo JSON si el metadata no es válido\n      }\n    }\n\n    // Si la conversación MÁS RECIENTE de 'agendar_cita' NO está marcada como 'done', se considera activa\n    if (!isDone) {\n      hasActiveConversation = true;\n      conversationId = latest.id;\n    }\n  }\n}\n\n// Paso 4: Devolver el resultado\nreturn [{\n  json: Object.assign({}, webhookData, {\n    hasActiveConversation,\n    conversationId\n  }),\n  pairedItem: 0 \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3072,
        48
      ],
      "id": "33f57e93-aa95-48c4-b671-b8f5c246233c",
      "name": "Parse Active Conversation1"
    },
    {
      "parameters": {
        "url": "=https://services.meet-lines.com/api/projects/{{$('Extract Message Data1').first().json.projectId}}/conversations/customer/{{$('Extract Message Data1').first().json.tonumber}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3232,
        48
      ],
      "id": "5d6c5329-b9dc-4f82-9222-f100bc398c07",
      "name": "Check Active Conversation1",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "7xzvYiTLUbiNIgOp",
          "name": "Multiple Headers Auth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.hasActiveConversation }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "cc6cb8bf-e86e-4dfb-8430-97f538785515"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2864,
        -32
      ],
      "id": "53b94c03-bf83-4455-a3b8-712a709551fd",
      "name": "has Active Conversation1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.meet-lines.com/api/projects/{{ $('Get project1').item.json.id }}/conversations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"projectId\": \"{{ $('Get project1').first().json.id }}\",\n  \"customerPhone\": \"{{ $('Extract Message Data1').first().json.tonumber }}\",\n  \"customerName\": \"Unknown\",\n  \"customerMessage\": \"{{ $('Extract Message Data1').first().json.mensaje }}\",\n  \"botResponse\": \"¡Perfecto! Vamos a agendar tu cita.\",\n  \"botType\": \"transactional\",\n  \"intent\": \"agendar_cita\",\n  \"metadataJson\": \"{\\\"step\\\":\\\"ask_service\\\",\\\"selectedService\\\":null,\\\"selectedServiceId\\\":null,\\\"selectedDate\\\":null,\\\"selectedTime\\\":null,\\\"selectedEmployeeId\\\":null,\\\"selectedEmployeeName\\\":null}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1200,
        -160
      ],
      "id": "1820c322-26e4-4563-a83c-a459a6e56419",
      "name": "HTTP Request1",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "7xzvYiTLUbiNIgOp",
          "name": "Multiple Headers Auth account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2208,
        80
      ],
      "id": "d611bdcf-114d-47a1-b7da-dbc7cae3adaa",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "iwKj54bMuqT4S83f",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Send Telegram Message route bot Transaction": {
      "main": [
        [
          {
            "node": "Trigger Bot ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Extract Message Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data1": {
      "main": [
        [
          {
            "node": "Check Active Conversation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get project1": {
      "main": [
        [
          {
            "node": "get bot config1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get respuestas1": {
      "main": [
        [
          {
            "node": "Agente recepcion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get bot config1": {
      "main": [
        [
          {
            "node": "get respuestas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente recepcion1": {
      "main": [
        [
          {
            "node": "Parse AI Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response1": {
      "main": [
        [
          {
            "node": "guardar conversacion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar conversacion1": {
      "main": [
        [
          {
            "node": "Detect Booking Intent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Booking Intent1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Telegram Message Bot recepcion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Agente recepcion1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Parse Active Conversation1": {
      "main": [
        [
          {
            "node": "has Active Conversation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Active Conversation1": {
      "main": [
        [
          {
            "node": "Parse Active Conversation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has Active Conversation1": {
      "main": [
        [
          {
            "node": "Get project1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Bot ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send Telegram Message route bot Transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente recepcion1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false,
    "timeSavedPerExecution": 1
  },
  "versionId": "7817ece3-0175-4ade-ac09-6e7b5d6fc68e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a99983c5c90dd99bc97a6ac4aeb4042f3342ff3c213dd96a373584027e31ffe"
  },
  "id": "lGGk9lfJk0tCB1O2",
  "tags": []
}